# Python / Backend
backend/venv/
backend/__pycache__/
backend/.env
backend/**/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.db
*.db


# Node / Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
